.sl-btn:hover {
	background-color: #84DCC6;
	border-color: #84DCC6;
	color: #fff;
}

.sl-btn {
	color: #84DCC6;
	background-color:#343a40;
	border-color: #84DCC6;
	border-radius: 10px;
}

.btn btn-primary:hover {
	background-color:#6eb8a5;
	border-color:#6eb8a5;
}

.nohover:hover {
	color:black;
	text-decoration: none;
}